@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-SemiBold.woff2") format("woff2"),
      url("../fonts/SourceSansPro-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Regular.woff2") format("woff2"),
      url("../fonts/SourceSansPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Bold.woff2") format("woff2"),
      url("../fonts/SourceSansPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root{
  --brand-color: #F15525;
  --blue: #38BFF2;
  --bg-color: #EAF2F5;
  --bg-white: #fff;
  --text-color: #22253B;
}




/* GLOBAL */
html{
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after{
box-sizing: inherit;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", "Arial",sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  background-color: var(--bg-white);
  color: var(--text-color);
}

img{
  max-width: 100%;
  height: auto;
}

/* LOGO */
.logo {
  display: block;
  cursor: pointer;
  margin-right: 74px;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo__img {
  display: block;
  width: 150px;
  height: 75px;
  object-fit: contain;
}

/* SITENAV */
.sitenav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
}

.sitenav__list {
  display: flex;
  justify-content: center;
  align-items:center;
  list-style: none;
  margin: 0 50px 0 0;
  padding: 0;
}

.sitenav__item:not(:last-child){
  margin-right: 20px;
}

.sitenav__link {
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: var(--text-color);
}

.sitenav__link:hover{
  color: var(--brand-color);
}

/* Button */
.button {
  display: inline-block;
  padding: 8px 16px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  background-color: var(--blue);
  border-radius: 34px;
  font-weight: bold;
  font-size: 18px;
  flex-wrap: nowrap;
}

.button:hover{
  background-color: var(--brand-color);
}

.button:active{
  opacity: 0.6;
}

/* SEARCH BUTTON */
.search-form {
  position: relative;
  max-width: 500px;
  display: block;
  margin-right: 20px;
}

.search-box {
  display: flex;
  justify-content: flex-end;
}

.input-search{
  padding: 10px;
  font-size: 17px;
  border-radius: 25px;
  width: 80%;
  padding-left: 25px;
  background-color: #fff;
  border-top-right-radius:0;
  border-bottom-right-radius:0;
  outline: none;
  border: none;
}

.btn-search{
border-radius: 25px;
width: 20%;
padding: 10px;
background-color: var(--brand-color);
color: #fff;
border: none;
cursor: pointer;
border-top-left-radius:0;
 border-bottom-left-radius:0;
}

.search-img {
  display: block;
  width: 24px;
  height: 24px;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}

.input-search__header{
  width: 0;
  padding: 0;
  border-radius: 0;
  transition: width .5s ease-in-out;

}


.btn__header{
  width: 24px;
  border-radius: 50%;
  padding: 0;
  background-color: #fff;
  color: var(--blue);
}

.search-box__header:hover .input-search__header,
.input-search__header:focus{
  width: 100%;
  border-bottom: 1px solid #000;
  transition: width 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.search-box__header:hover .btn__header,
.btn__header:focus{
  color: var(--brand-color);
  transition: color 0.4s ease;
}
.container{
  width: 100%;
  max-width: 1300px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

.main-content{
  flex-grow: 1;
}

*:focus{
  outline: 1px dashed var(--brand-color);
}

/* SITE-HEADER */
.site-header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
}

.site-header__container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* HERO */

.hero{
  padding-top: 70px;
  padding-bottom: 100px;
  background-color: var(--bg-color);
  background-image: url("../img/wrap-bg.png");
  background-repeat: no-repeat;
  }

  .hero-container {
    display: flex;
    flex-wrap: wrap;
    }

  .hero-content{
    max-width: 650px;
    width: 100%;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .hero-header {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 70px;
  }

  .hero-text{
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 23px;
  }

 .hero-header-color{
   color: var(--brand-color);
 }